body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 15px;
    
}

.row {
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}

.container {
    margin: 0px auto;
    width: 900px;
    line-height: 30px;
}

.col1 {
    width: 200px;
    margin-right: 20px;
    
    text-align: right;
    float:left;
}

.col2 {
    width: 365px;
    line-height: 30px;
    float: left;
}

.clear {
    clear:both;
}

input {
    height: 30px;
    padding: 0 5px;
}

.centralrow {
    left: 220px;
    margin: 0px auto;
    position: relative;
}

.submit-button {
    margin-left: 10px;
}

input[type="text"], input[type="password"] {
    border-radius: 2px;
    border: 1px solid #CCC;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline-width: 0;
    border: 1px solid #AAA;
}

input[type="submit"], input[type="reset"] {
    background-color: #3F9DA1;
    color: white;
    border: none;
    border-radius: 2px;
    outline-width: 0;
    padding: 5px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5F9EA0;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #F08080;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #d87373;
    cursor: pointer;
}

.error-div {
    position: absolute;
    top: 9px;
    left: 417px;
    background-color: rgba(233, 193, 193, 0.18);
    border: 1px solid #FA8087;
    padding: 0 10px;
    box-sizing: border-box;
    color: #D45555;
    border-radius: 2px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FA8087;
    position: absolute;
    left: 407px;
    top: 14px;
}

.main-status {
    left: 100px;
    position: relative;
    width: 300px;
    text-align: center;
}

.success {
    background-color: #8BD98B;
    color: white;
}

.main-error {
    background-color: #FA8087;
    color: white;
}

input[type="submit"]:active {
    background-color: #4F8E90;
}

input[type="reset"]:active {
    background-color: #D06060;
}
