* {
    padding:0;
    margin:0;
    color: #2A2A2A;
}

body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
}

.search-box {
    margin-left: 100px;
    margin-top: 100px;
    float: left;
}

/** Search Container CSS **/

.search-box {
    border: 1px solid #CCC;
    border-radius: 2px;
    width: 300px;
    line-height: 30px;
    /* padding: 0 5px; */
    box-sizing: border-box;
    position: relative;
}

.val {
    cursor: pointer;
    width: 96%;
    margin: 0 2%;
}

.search-box .search-results-tab {
    position: absolute;
    left: -1px;
    top: 100%;
    border: 1px solid #CCC;
    border-top: none;
    padding: 0 0 5px;
    display: none;
    width: 100%;
}

.search-box .search-input {
    width: 96%;
    line-height: 30px;
    padding: 0 5px;
    margin: 2%;
    border-radius: 2px;
    border: 1px solid #CCC;
    outline-width: 0;
}

.search-box .search-input:focus {
    border: 1px solid #AAA;
    outline-width: 0;
}

.search-box .search-result {
    line-height: 30px;
    padding-left: 2%;
    cursor: pointer;
}

.search-box .search-result:hover {
    background-color: #F5F5F5;
}

.search-results-container {
    width: 100%;
    padding: 0;
    line-height: 30px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid black;
}

.arrow {
    position: absolute;
    right: 8px;
    top: 12px;
}